.product-card {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.product-card__name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.product-card__brand {
  font-size: 16px;
  color: #777;
}

.product-card__price {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}
